/* Add CSS Styling */
.odd-number{
    background-color: red;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
font-size:24px;}

    #blue{
        font-size: 36px;
        color: blue;
    }

    #light-green{
        background-color: lightgreen;
        font-size: 24px;
        font:bold;
    }