body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding:auto;
  padding-top:0.50px;
    padding-bottom:0.50px;

 
}

.title {
   padding:0.50px;
   margin:1rem;

  background: #e3f4ff;
 }

.content {
    margin:1rem;
      padding:1rem;
  background: #e3f4ff;
}

.button-container {  
    flex-direction:column;
  display: flex;
   text-align: center;
  background: #e3f4ff;
    margin:1rem;
 }

button {
      margin:1rem;
width:auto;
  padding:0.100rem;
  background: white;
  border: 1px solid #eee;
 
}